#wpadminbar #wp-admin-bar-wp-logo > .ab-item {
  padding: 0 7px;
  background-image: url("../assets/triangle-vector-svgrepo-com.svg") !important;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
}
#wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon:before {
  content: " ";
  top: 2px;
}

#wp-admin-bar-about,
#wp-admin-bar-wporg,
#wp-admin-bar-documentation,
#wp-admin-bar-support-forums,
#wp-admin-bar-feedback {
  display: none !important;
}
/*
#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
	background-color: #587f40 !important;
}*/
